---
layout: default
---

{% include _google-analytics.html %}

<div id="main" role="main">
  {% include sidebar.html %} 
  <div class="archive">
  {% unless page.header.overlay_color or page.header.overlay_image %}
    <h1 class="page__title">{{ page.title }}</h1>
  {% endunless %}
  {% for post in site.posts %}
    <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
    <h2 class="archive__item-title" itemprop="headline">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <font size="2"><i><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time> </i></font>
    {% if post.description %}<p class="archive__item-excerpt" itemprop="description">{{ post.description | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
  {% endfor %}
</div>
</div>
